/*@Allysonubius criador deste projeto inicial com Bootstrap.

Direitos Reservados.
*/

body {
    font-family: sans-serif, serif, arial;
    font-size: 12px;
    color: black;
    background-color: #ccc;
}

.container {
    padding: 10px;
}

.table-hover tbody tr:hover {
    background-color: #333;
    color: #fff;
}

button {
    margin: 15px;
}

.rodape {
    font-size: 12px;
    font-family: Verdana, arial;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
}

.texto {
    padding-top: 20px;
}

.pequeno-button {
    margin: 1px;
}

.nav-ed {
    margin: -80px 0 -150px 0;
    padding: 40px;
}

a {
    font-size: 20px;
}

.menu-bg {
    background-color: #D79AFC;
    border-bottom: 1px solid white;
}

.menu-text {
    font-family: verdana;
    font-weight: bold;
    color: #9E04FC;
}